.container-fluid, header {
  background-color: #DDB892;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-link {
  color: #191614;
}

.navbar-brand img {
  width: 80px; 
  height: auto;
}

.offcanvas-title img {
    width: 60px;
    height: auto; 
}

body{
    --bege: #E6E0D6;
    --marrom-escuro: #B08968;
    --marrom-claro: #B29463;
    font-family: 'Barlow', sans-serif;
    height: 4000px;
    background-color: #EDE0D4;
  }

input[type=checkbox] {
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
}

input[type=checkbox]:checked,
input[type="checkbox"]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

.banners {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banners-titulo {
    --bs-bg-opacity: .8;
}

.banner-1 {
    background-image: url(../img/banner-1.jpg);
}

.banner-2 {
    background-image: url(../img/banner-2.jpg);
}

.banner-3 {
    background-image: url(../img/banner-3.jpg);
}

.botao-padrao {
    background-color: var(--marrom-claro);
}

.botao-padrao:hover {
    background-color: var(--marrom-escuro);
}

footer {
    background-color: var(--marrom-escuro);
}

#contato .container {
  padding: 5rem !important;
  
}

#contato .p-5 {
  padding: 5rem !important;
}

.whatsapp-icon {
    font-size: 3em;
  }
